<h1>Pirate Information</h1>

<h2>{{pirate.name}}</h2>
<ul>
    <li>{{pirate.birthplace}}</li>
    <li>{{pirate.death_year}}</li>
    <li>{{pirate.base}}</li>
    <li>{{pirate.nickname}}</li>
</ul>

<a href="/pirates/new">Add a Pirate</a>
